:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.page-container {
  background-color: var(--ig-gray-100);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: auto;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.page-header {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-200);
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 16px;
}
.row-layout {
  display: flex;
}
.header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
}
.page-title {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 12px;
  position: relative;
  min-width: 50px;
}
.buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
}
.group {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-200);
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 16px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.form_fields {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: auto;
  padding: 8px 0 0;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.group_2 {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-secondary-400);
}
.h5 {
  height: max-content;
  min-width: min-content;
}
.chip {
  width: max-content;
  height: max-content;
}
.icon_1 {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.button {
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  width: 100%;
  height: max-content;
  min-width: 100%;
  max-width: 100%;
}
.new_customer_form {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  width: max-content;
  height: max-content;
  min-width: 50px;
  min-height: 50px;
}
.input {
  flex-grow: 1;
  flex-basis: 0;
}
.input_1 {
  height: max-content;
  min-width: min-content;
}
.button_2 {
  flex-shrink: 0;
}
.grid {
  --ig-size: var(--ig-size-medium);
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.new-customer-dialog {
  position: absolute;
}
